
<h1>Welcome to CSE Motors!</h1>
<picture class="car">
    <source media="(min-width: 510px)" srcset="/images/vehicles/delorean.jpg">
    <img src="/images/vehicles/delorean-tn.jpg" alt="delorean drawing">
</picture>
<div class="over">
    <h2>DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
    <a href="#">Own Today</a>
</div>
<div class="block">
    <div id="upgrades">
        <h3>Delorean Upgrades</h3>
        <p></p>
        <figure>
            <img src="/images/upgrades/flux-cap.png" alt="flux capacitor image" width="150" height="150">
            <figcaption><a href="#">Flux Capacitor</a></figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/flame.jpg" alt="flame decals image" width="150" height="150">
            <figcaption><a href="#">Flame Decals</a></figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker image" width="150" height="150">
            <figcaption><a href="#">Bumper Sticker</a></figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/hub-cap.jpg" alt="hub caps image" width="150" height="150">
            <figcaption><a href="#">Hub Caps</a></figcaption>
        </figure>
    </div>
    <div id="reviews">
        <h4>DMC Delorean Reviews</h4>
        <p>"So fast it's almost like traveling in time." (4/5)</p>
        <p>"Coolest ride on the road." (4/5)</p>
        <p>"I'm feeling McFly!." (5/5)</p>
        <p>"The most futuristic ride of our day" (4.5/5)</p>
        <p>"80's livin and I love it!" (5/5)</p>
    </div>
</div>
