/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: var(--o-font);
  position: relative;
  margin :0 ;
}

:root {
  --heading-font: cabin, sans-serif;
  --primary-color:rgb(116, 18, 18) ;
  --h-font: Russo One; 
  --o-font: Mulish;
}

/*******head***************/

.back {
  display: none;
}

#top-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.siteName a, #tools a{
  color: black;
  text-decoration: none;
  font-weight: 400;
  padding-left: 10px;
}

.siteName a{
  font-size: 2rem;
  font-weight: bold;
}

#tools a{
  font-size: 1.5rem;
  padding-right:10px;
}

#tools :hover {
  padding-bottom: 40px;
  background-color: rgba(160, 26, 26, 0.281);
}

/*******navigation***************/

.nav ul{
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  padding: 1rem;
  justify-content: space-around;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: antiquewhite;
  font-family: var(--h-font);
  font-size: 1.5rem;
}

nav a:hover {
  padding: 18px;
  background-color: rgba(211, 211, 211, 0.199);
}

/*******main**************/
h1{
  font-family: var(--h-font);
  padding-left: 10px;
}

.car{
  display: grid;
  justify-content: center;
  top: 50px;
  left:50px;
}

.over {
  background-color: rgba(116, 18, 18, 0.281);
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right:20px;
  position: absolute;
  top:80px;
  left:30px;
}

.over h2{
  font-size: 1.2rem;
  font-family: var(--h-font);
}

.over p{
  font-size: 1rem;
  margin: 1px;
}

.over a{
  color: antiquewhite;
  background-color: var(--primary-color);
  padding: 15px;
  top: 20px;
  text-decoration: none;
  font-weight: bold;
}

.over a:hover {
  padding: 18px;
  color: black;
  background-color: rgba(211, 211, 211, 0.199);
}

h3, h4{
  font-family: var(--h-font);
  font-size: 1.6rem;
}

.block {
  padding-top: 120px;
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
}

#upgrades{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 300px;
}

#upgrades figure{
  border: 2px solid var(--primary-color);
  padding: 10px;
  background-color: rgba(116, 18, 18, 0.281);
  margin: 10px;
}

#upgrades figure img{
  border: 2px solid var(--primary-color);
  background-color: white;
}

#upgrades figcaption {
  text-align: center;
  font-size: 1.2rem;
}

#upgrades figcaption a{
  color: black;
}

#reviews p{
  text-align: left;
  padding-top: 40px;
  padding-left: 20px;
  font-weight: 600;
  font-size: 1.2rem;
  max-width: 350px;
}

footer{
  padding: 10px;
}


@media screen and (min-width: 800px) {

/*******head***************/
.back {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .back img,
  .back source {
    width: 100%;
    height: 100%;
  }

#wrapper{
  max-width: 980px;
  margin: 0 auto;
  background-color: white;
  border: 5px solid var(--primary-color);
}

.siteName a {
  font-size: 3rem;
}

#tools a {
  font-size: 1.8rem;
}

/*******navigation***************/

.nav a {
  font-size: 2rem;
}

/*******main**************/

.car{
  top:0px;
  left: 0px;
}

.over {
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  top: 100px;
  left: 70px;
}
.over p {
  font-size: 1.2rem;
}

.over h2 {
  font-size: 2rem;
}

.block {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#upgrades {
  margin-top: 0px;
  max-width: 900px;
}

#upgrades figure img {
  left: 20px;
}

}