/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: var(--o-font);
  position: relative;
  margin :0 ;
}

:root {
  --heading-font: cabin, sans-serif;
  --primary-color:rgb(116, 18, 18) ;
  --h-font: Russo One; 
  --o-font: Mulish;
}

/*******head***************/

.back {
  display: none;
}

#top-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.siteName a, #tools a{
  color: black;
  text-decoration: none;
  font-weight: 400;
  padding-left: 10px;
}

.siteName a{
  font-size: 2rem;
  font-weight: bold;
}

#tools a{
  font-size: 1.5rem;
  padding-right:10px;
}

#tools :hover {
  padding-bottom: 40px;
  background-color: rgba(160, 26, 26, 0.281);
}

/*******navigation***************/

.nav ul{
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  padding: 1rem;
  justify-content: space-around;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: antiquewhite;
  font-family: var(--h-font);
  font-size: 1rem;
}

nav a:hover {
  padding: 18px;
  background-color: rgba(211, 211, 211, 0.199);
}

/*******main**************/
h1{
  font-family: var(--h-font);
  padding-left: 10px;
}

.car{
  display: grid;
  justify-content: center;
  top: 50px;
  left:50px;
}

.over {
  background-color: rgba(116, 18, 18, 0.644);
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right:20px;
  position: absolute;
  top:80px;
  left:30px;
}

.over h2{
  color: antiquewhite;
  font-size: 1.2rem;
  font-family: var(--h-font);
}

.over p{
  color: antiquewhite;
  font-size: 1rem;
  margin: 1px;
}

.over a{
  color: antiquewhite;
  background-color: var(--primary-color);
  padding: 15px;
  top: 20px;
  text-decoration: none;
  font-weight: bold;
}

.over a:hover {
  padding: 18px;
  color: black;
  background-color: rgba(211, 211, 211, 0.199);
}

h3, h4{
  font-family: var(--h-font);
  font-size: 1.6rem;
}

.block {
  padding-top: 120px;
  display: flex;
  flex-direction: column-reverse;
}

#upgrades{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 300px;
}

#upgrades figure{
  border: 2px solid var(--primary-color);
  padding: 10px;
  background-color: rgba(116, 18, 18, 0.281);
  margin: 10px;
}

#upgrades figure img{
  border: 2px solid var(--primary-color);
  background-color: white;
}

#upgrades figcaption {
  text-align: center;
  font-size: 1.2rem;
}

#upgrades figcaption a{
  color: black;
}

#reviews p{
  text-align: left;
  padding-top: 40px;
  padding-left: 20px;
  font-weight: 600;
  font-size: 1.2rem;
  max-width: 350px;
}

footer{
  padding: 10px;
}


/***** inventory ********/

#inv-display{
  display: grid;
  grid-template-columns: 1fr;
}

#inv-display li{
  list-style: none;
  margin: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 80px;
  right: 20px;
  text-align: center;
  padding: 20px;
}

.namePrice a{
  color: var(--primary-color);
}

/***** details **********/

.detail-grid{
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}

.detail-grid img{
  max-width: 300px;
  left: 40px;  
  top: 20px;
}

#detail-display{
  margin: 10px;
}

#detail-display h2{
  padding-top: 30px;
  font-size: 2rem;
  color: var(--primary-color);
}

#detail-display p{
  padding-top: 15px;
  font-size: 1.3rem;
}

.label {
  font-weight: bolder;
}

/***** error ********/

.error-img img{
  max-width: 300px;
}

/***** account login ********/

.form-grid,
.add-classification-grid,
.add-inv-grid{
  display: grid;
  place-items: center;
  background-color: var(--primary-color);
  padding: 20px;
}

form{
  background-color: antiquewhite;
  border-radius: 40px;
  padding: 20px 80px 10px 80px;
  text-align: left;
  width: 350px;
}

form label{
  font-weight: bold;
  font-size: 1.5rem;
}

.form-grid a{
  color: black;
}

input[type=submit]{
  display: flex;
  margin: 10px;
  padding: 10px;
  background-color: rgba(114, 27, 27, 0.322);
  font-family: var(--h-font);
}

input[type=email],
input[type=text],
input[type=password],
input[type=submit],
input[type=number],
textarea,
#classificationList{
  border-radius: 8px;
  height: 40px;
}

button{
  margin-top: 10px;
  border: none;
  padding: 10px;
  background-color: rgba(114, 27, 27, 0.322);
  border-radius: 30px;
}

input:required:invalid,
input:focus:invalid {
  background-color: rgba(255, 0, 0, 0.329);
}

input:required:valid {
  background-color: rgba(0, 128, 0, 0.226);
}

.mgnt-links{
  display: grid;
  font-size: large;
  padding: 10px;
  background-color: antiquewhite;
}
.mgnt-links a{
  color: black;
  font-family: var(--heading-font);
  padding: 10px;
}




@media screen and (min-width: 800px) {

/*******head***************/
.back {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .back img,
  .back source {
    width: 100%;
    height: 100%;
  }

#wrapper{
  min-width: auto;
  max-width: 980px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
  border: 5px solid var(--primary-color);
}

.siteName a {
  font-size: 3rem;
}

#tools a {
  font-size: 1.8rem;
}

/*******navigation***************/

.nav a {
  font-size: 2rem;
}

/*******main**************/

.car{
  top:0px;
  left: 0px;
}

.over {
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  top: 100px;
  left: 70px;
}
.over p {
  font-size: 1.2rem;
}

.over h2 {
  font-size: 2rem;
}

.block {
  padding-top: 30px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#upgrades {
  margin-top: 0px;
  max-width: 900px;
}

#upgrades figure img {
  left: 20px;
}


/* inventory */

#inv-display {
  grid-template-columns: 1fr 1fr 1fr;
}

#inv-display li {
  margin: 10px;
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px;
}

/***** details **********/

.detail-grid {
  grid-template-columns: 1fr 1fr;
}

.detail-grid img {
  max-width: 400px;
  left: 20px;
}

#detail-display h2 {
  padding-top: 0px;
}

/***** error ********/

.error-img img {
  max-width: 100%;
  left: 100px;
}

}