/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: var(--o-font);
  position: relative;
}

:root {
  --heading-font: cabin, sans-serif;
  --primary-color:rgb(116, 18, 18) ;
  --h-font: Russo One; 
  --o-font: Mulish;
}

/*******head***************/

.back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.back img, .back source{
  width: 100%;
  height: 100%;
}

#wrapper{
  max-width: 980px;
  margin: 0 auto;
  background-color: white;
  border: 5px solid var(--primary-color);
}

#top-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.siteName a, #tools a{
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}

.siteName a{
  font-size: 3rem;
  font-weight: bold;
}

/*******navigation***************/

.nav ul{
  color: antiquewhite;
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  padding: 1rem;
  justify-content: space-around;
  list-style: none;
  font-family: var(--h-font);
  font-size: 2rem;
}

/*******main**************/
h1{
  font-family: var(--h-font);
  padding-left: 10px;
}

.car{
  display: grid;
  position: relative;
  justify-content: center;
}

.over {
  background-color: rgba(116, 18, 18, 0.281);
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right:20px;
  position: absolute;
  top:100px;
  left:70px;
}

.over h2{
  font-family: var(--h-font);
}

.over p{
  font-size: 1.2rem;
  margin: 1px;
}

.over a{
  color: antiquewhite;
  background-color: var(--primary-color);
  padding: 15px;
  top: 20px;
}

h3, h4{
  font-family: var(--h-font);
  font-size: 1.6rem;
}

.block {
  padding-top: 30px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#upgrades{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#upgrades figure{
  border: 2px solid var(--primary-color);
  padding: 10px;
  background-color: rgba(116, 18, 18, 0.281);
}

#upgrades figure img{
  border: 2px solid var(--primary-color);
  background-color: white;
}

#upgrades figcaption{
  text-align: center;
}

#reviews p{
  text-align: left;
  padding-top: 40px;
  padding-left: 20px;
  font-weight: 600;
  font-size: 1.2rem;
  max-width: 350px;
}
