<%- messages() %>

<div class="add-item-grid">
    <form id="itemForm" action="/inventory/add-item" method="post">
        <label for="new-item">Item Name:</label><br>
        <input type="text" id="new-item" name="new-item" required pattern="^[a-zA-Z0-9]+$"><br>
        <input type="submit" value="REGISTER">
    </form>
</div>