<%# the content heading %>
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<%-messages() %>
<% if (errors) { %>
    <ul class="notice">
        <% errors.forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>
<%- grid %>
