<%# the content heading %>
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<div class="mgnt-links">
    <a title="Add New Classification" href="/inv/new-classification">Add New Classification</a>
    <a title="Add New Inventory Item" href="/inv/new-item">Add New Inventory Item</a>
</div>