<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

    <%- message %>
    <div class="error-img">
        <img src="/images/car-crash.webp" alt="there was a car crash!">
    </div>
